@CHARSET "UTF-8";

body {font-family: Arial, Helvetica, sans-serif; }

.middle{width: 100%; height: 70%;  overflow: hidden;}
.middle .main_left{width: 20%; height: 100%; border: 1px solid black; float: left;}
.middle .main_left ul{width: 100%; list-style-type: none;}
.middle .main_left ul li{width: 50%; padding: 5px; height: 60px; text-align: center;}
.middle .main_right{width: 75%%; height: 100%; float: left; padding-left: 30px;}
.middle .main_right .search{width: 100%; height: 20%; text-align: center; margin: 40px auto;}
.middle .main_right .category{width: 100%; margin: 20px auto;}
.middle .main_right .category ul{list-style-type: none; width: 100%; height: 20%;}
.middle .main_right .category ul li{float: left; border-bottom: 1px solid black;height: 100%; text-align: center; padding: 10px 20px 5px 20px;}
.middle .main_right .category ul li:hover{color: pink; border-bottom: 5px solid pink;}

.middle .main_right .table{width: 100%; margin: 0 auto; padding-top: 5%; }
.middle .main_right .table .main_board_title{width: 100%; overflow: none; background-color: #f5ecf0;}
.middle .main_right .table .main_board_title #febCategory{float: left; text-align: center; padding: 20px 30px 20px 30px; }
.middle .main_right .table .main_board_title #febMainTitle{float: left; padding: 20px 700px 20px 30px; }


.middle .main_right .table .main_board_content{width: 100%; overflow: none; background-color: #c6dcdd; display: none;}
.middle .main_right .table .main_board_content #febCategoryTitle{float: left; text-align: center; padding: 20px 10px 20px 30px; }
.middle .main_right .table .main_board_content #febTitle{float: left; text-align: left; padding: 20px 10px 20px 30px; width: 70%;}
.middle .main_right .table .main_board_content #febContent{float: left; margin: 0 atuo; padding: 20px 10px 20px 200px; width: 100%;}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
